@{
    Layout = "adminlayout";
}
@model UserViewDto

<div style="height: 100vh;" class="text-center">
    <h1 class="display-4">Welcome to Admin page dear @Model.FirstName @Model.LastName</h1>
    <p>Iwlamadiiiiiiiiiiiiiiiiiiiiiiiii</p>
</div>
