@using Shopee.Service.DTOs.Orders;
@using Shopee.Service.DTOs.Payments;
@{
}

@model OrderViewDto

<h1>Payment Create</h1>


<div class="screen__content">
	<form class="login" method="post" asp-controller="Admin" asp-action="ChangedStatus">
		<div class="login__field">
			<label class="form-label" asp-for="Status">Pending, Accepted, InProgress, Ready, Delivering, Done, Cancelled</label>
			<input asp-for="Status" type="text" class="login__input" placeholder="Status">
		</div>
		<div class="container d-flex justify-content-between">
			<button style="margin: 20px 20px; width:100px; color: #fff; background-color: #111;" type="submit">Change</button>
		</div>
	</form>
</div>